<h1>Welcome, <%= user_name.capitalize %></h1>

<form method="get" action="/">
  <input type="submit" value="Sort Users Ascending" name="sort_ascending">
</form>

<form method="get" action="/">
  <input type="submit" value="Sort Users Descending" name="sort_descending">
</form>

<h1>Registered Users</h1>

<ul> <% list.each do |name| %>
  <% unless name == user_name %>
    <li><%= name %></li>
  <% end %>
  <% end %>
</ul>

<form method="get" action="/logout">
  <input type="submit" value="Log Out">
</form>